<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Template>Normal</Template>
  <Pages>3</Pages>
  <Words>472</Words>
  <Characters>588</Characters>
  <Lines>4</Lines>
  <Paragraphs>15</Paragraphs>
  <TotalTime>0</TotalTime>
  <ScaleCrop>false</ScaleCrop>
  <LinksUpToDate>false</LinksUpToDate>
  <CharactersWithSpaces>637</CharactersWithSpaces>
  <Application>WPS Office_12.1.0.25225_F1E327BC-269C-435d-A152-05C5408002CA</Application>
  <DocSecurity>0</DocSecurity>
</Properties>
