<?xml version="1.0" encoding="utf-8"?>
<w:settings xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main" xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml" xmlns:sl="http://schemas.openxmlformats.org/schemaLibrary/2006/main" xmlns:wpsCustomData="http://www.wps.cn/officeDocument/2013/wpsCustomData" mc:Ignorable="w14">
  <w:zoom w:percent="77"/>
  <w:embedTrueTypeFonts/>
  <w:embedSystemFonts/>
  <w:saveSubsetFonts/>
  <w:bordersDoNotSurroundHeader w:val="0"/>
  <w:bordersDoNotSurroundFooter w:val="0"/>
  <w:doNotTrackMoves/>
  <w:documentProtection w:enforcement="0"/>
  <w:defaultTabStop w:val="420"/>
  <w:drawingGridHorizontalSpacing w:val="360"/>
  <w:drawingGridVerticalSpacing w:val="156"/>
  <w:displayHorizontalDrawingGridEvery w:val="1"/>
  <w:displayVerticalDrawingGridEvery w:val="1"/>
  <w:noPunctuationKerning w:val="1"/>
  <w:characterSpacingControl w:val="compressPunctuation"/>
  <w:footnotePr>
    <w:footnote w:id="0"/>
    <w:footnote w:id="1"/>
  </w:footnotePr>
  <w:endnotePr>
    <w:endnote w:id="0"/>
    <w:endnote w:id="1"/>
  </w:endnotePr>
  <w:compat>
    <w:spaceForUL/>
    <w:balanceSingleByteDoubleByteWidth/>
    <w:doNotLeaveBackslashAlone/>
    <w:ulTrailSpace/>
    <w:doNotExpandShiftReturn/>
    <w:adjustLineHeightInTable/>
    <w:doNotWrapTextWithPunct/>
    <w:doNotUseEastAsianBreakRules/>
    <w:useFELayout/>
    <w:compatSetting w:name="compatibilityMode" w:uri="http://schemas.microsoft.com/office/word" w:val="14"/>
    <w:compatSetting w:name="overrideTableStyleFontSizeAndJustification" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
    <w:compatSetting w:name="enableOpenTypeFeatures" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
    <w:compatSetting w:name="doNotFlipMirrorIndents" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
  </w:compat>
  <w:rsids>
    <w:rsidRoot w:val="4DA454AE"/>
    <w:rsid w:val="005268ED"/>
    <w:rsid w:val="00980DCD"/>
    <w:rsid w:val="00B30E44"/>
    <w:rsid w:val="011E2F28"/>
    <w:rsid w:val="02C61E6C"/>
    <w:rsid w:val="02DE6702"/>
    <w:rsid w:val="039D2BFE"/>
    <w:rsid w:val="03D41D0F"/>
    <w:rsid w:val="05817180"/>
    <w:rsid w:val="066F3DDB"/>
    <w:rsid w:val="0716733C"/>
    <w:rsid w:val="075F440A"/>
    <w:rsid w:val="07BB058C"/>
    <w:rsid w:val="08254F79"/>
    <w:rsid w:val="08470072"/>
    <w:rsid w:val="09E87633"/>
    <w:rsid w:val="09ED2DAF"/>
    <w:rsid w:val="0A2C39C3"/>
    <w:rsid w:val="0ACA6D38"/>
    <w:rsid w:val="0BB5242C"/>
    <w:rsid w:val="0BFA7C13"/>
    <w:rsid w:val="0EBE68F9"/>
    <w:rsid w:val="0F7B1F37"/>
    <w:rsid w:val="0FFC5BE6"/>
    <w:rsid w:val="104E700A"/>
    <w:rsid w:val="106B2F6D"/>
    <w:rsid w:val="108C7D3A"/>
    <w:rsid w:val="108F6A5A"/>
    <w:rsid w:val="10C16B9A"/>
    <w:rsid w:val="10CC55B8"/>
    <w:rsid w:val="1101229C"/>
    <w:rsid w:val="1129631F"/>
    <w:rsid w:val="11586695"/>
    <w:rsid w:val="11744091"/>
    <w:rsid w:val="11DE3053"/>
    <w:rsid w:val="12445622"/>
    <w:rsid w:val="12F232D0"/>
    <w:rsid w:val="14BA0009"/>
    <w:rsid w:val="15166706"/>
    <w:rsid w:val="15512530"/>
    <w:rsid w:val="156C45A1"/>
    <w:rsid w:val="15BF2FBB"/>
    <w:rsid w:val="15EA52B2"/>
    <w:rsid w:val="1633430E"/>
    <w:rsid w:val="16AC6950"/>
    <w:rsid w:val="18CF0D83"/>
    <w:rsid w:val="19570331"/>
    <w:rsid w:val="19E615A1"/>
    <w:rsid w:val="1A39281D"/>
    <w:rsid w:val="1ACD4355"/>
    <w:rsid w:val="1AD80D32"/>
    <w:rsid w:val="1B075C1C"/>
    <w:rsid w:val="1BAA299A"/>
    <w:rsid w:val="1C6F7740"/>
    <w:rsid w:val="1E7A2AF8"/>
    <w:rsid w:val="1F317299"/>
    <w:rsid w:val="1FDA1374"/>
    <w:rsid w:val="204C0480"/>
    <w:rsid w:val="20E45DCA"/>
    <w:rsid w:val="20F326ED"/>
    <w:rsid w:val="21336F8E"/>
    <w:rsid w:val="215B0F5D"/>
    <w:rsid w:val="22A02B51"/>
    <w:rsid w:val="22C47BC7"/>
    <w:rsid w:val="23C942EE"/>
    <w:rsid w:val="23D358F8"/>
    <w:rsid w:val="248A3369"/>
    <w:rsid w:val="249E2FD1"/>
    <w:rsid w:val="24F026B6"/>
    <w:rsid w:val="25472212"/>
    <w:rsid w:val="26063737"/>
    <w:rsid w:val="26D15241"/>
    <w:rsid w:val="26E15D4F"/>
    <w:rsid w:val="27446879"/>
    <w:rsid w:val="279E23E0"/>
    <w:rsid w:val="28414B67"/>
    <w:rsid w:val="2A760C39"/>
    <w:rsid w:val="2AB76F3C"/>
    <w:rsid w:val="2BCE4483"/>
    <w:rsid w:val="2C9F6BDF"/>
    <w:rsid w:val="2DE24DCD"/>
    <w:rsid w:val="2E5D41C5"/>
    <w:rsid w:val="2F555A29"/>
    <w:rsid w:val="2FC30B74"/>
    <w:rsid w:val="30AB0A46"/>
    <w:rsid w:val="31B67F06"/>
    <w:rsid w:val="33512D21"/>
    <w:rsid w:val="33F22CD8"/>
    <w:rsid w:val="34D7691B"/>
    <w:rsid w:val="36316E09"/>
    <w:rsid w:val="363C148D"/>
    <w:rsid w:val="365E28A7"/>
    <w:rsid w:val="36AB2FA2"/>
    <w:rsid w:val="36F8117B"/>
    <w:rsid w:val="374E5F50"/>
    <w:rsid w:val="3794371B"/>
    <w:rsid w:val="384D5B31"/>
    <w:rsid w:val="38C251EF"/>
    <w:rsid w:val="38F911DD"/>
    <w:rsid w:val="3A192D6D"/>
    <w:rsid w:val="3A347BA7"/>
    <w:rsid w:val="3A6C7A79"/>
    <w:rsid w:val="3AA80A39"/>
    <w:rsid w:val="3ACB763B"/>
    <w:rsid w:val="3B673F82"/>
    <w:rsid w:val="3C5D61FF"/>
    <w:rsid w:val="3CAB4BBA"/>
    <w:rsid w:val="3D8250CD"/>
    <w:rsid w:val="3DAE590C"/>
    <w:rsid w:val="3DF25A95"/>
    <w:rsid w:val="3E611D98"/>
    <w:rsid w:val="3E702363"/>
    <w:rsid w:val="3E7579B3"/>
    <w:rsid w:val="3E7F6B44"/>
    <w:rsid w:val="3EEF6792"/>
    <w:rsid w:val="3F36616F"/>
    <w:rsid w:val="3F9E1DC5"/>
    <w:rsid w:val="408B7B90"/>
    <w:rsid w:val="40E13F83"/>
    <w:rsid w:val="4114428E"/>
    <w:rsid w:val="420E67C7"/>
    <w:rsid w:val="42564C9C"/>
    <w:rsid w:val="428B1C5A"/>
    <w:rsid w:val="42F552ED"/>
    <w:rsid w:val="43B45703"/>
    <w:rsid w:val="44B36E69"/>
    <w:rsid w:val="45216F7A"/>
    <w:rsid w:val="452E2F87"/>
    <w:rsid w:val="45ED50AE"/>
    <w:rsid w:val="46911B59"/>
    <w:rsid w:val="46E2098A"/>
    <w:rsid w:val="47824475"/>
    <w:rsid w:val="4985517A"/>
    <w:rsid w:val="49D03506"/>
    <w:rsid w:val="4A7E7A57"/>
    <w:rsid w:val="4AC453E5"/>
    <w:rsid w:val="4B223A4B"/>
    <w:rsid w:val="4B483E74"/>
    <w:rsid w:val="4B4F167B"/>
    <w:rsid w:val="4B8F2AD5"/>
    <w:rsid w:val="4BC6484B"/>
    <w:rsid w:val="4BC675D3"/>
    <w:rsid w:val="4CBD7D36"/>
    <w:rsid w:val="4D137AF0"/>
    <w:rsid w:val="4DA454AE"/>
    <w:rsid w:val="4DAE5A6A"/>
    <w:rsid w:val="4E320449"/>
    <w:rsid w:val="4E4C1E6E"/>
    <w:rsid w:val="4FE93BFE"/>
    <w:rsid w:val="51A53A6A"/>
    <w:rsid w:val="52F96D0F"/>
    <w:rsid w:val="53624DFA"/>
    <w:rsid w:val="539F1909"/>
    <w:rsid w:val="541C1980"/>
    <w:rsid w:val="546F3679"/>
    <w:rsid w:val="5579200B"/>
    <w:rsid w:val="56195878"/>
    <w:rsid w:val="581D4CBE"/>
    <w:rsid w:val="5826269D"/>
    <w:rsid w:val="58294AFE"/>
    <w:rsid w:val="58A861F7"/>
    <w:rsid w:val="590874D5"/>
    <w:rsid w:val="59172987"/>
    <w:rsid w:val="5A166E71"/>
    <w:rsid w:val="5AA36880"/>
    <w:rsid w:val="5ABA15AB"/>
    <w:rsid w:val="5AEF47FF"/>
    <w:rsid w:val="5B375B99"/>
    <w:rsid w:val="5B3F3096"/>
    <w:rsid w:val="5B6E3796"/>
    <w:rsid w:val="5C716B6F"/>
    <w:rsid w:val="5CCE39D2"/>
    <w:rsid w:val="5DD12DA4"/>
    <w:rsid w:val="5ED55BF6"/>
    <w:rsid w:val="5F4712CA"/>
    <w:rsid w:val="5FAB5B3E"/>
    <w:rsid w:val="5FC8476A"/>
    <w:rsid w:val="60F54B39"/>
    <w:rsid w:val="612A5791"/>
    <w:rsid w:val="61B41449"/>
    <w:rsid w:val="620C2843"/>
    <w:rsid w:val="62265778"/>
    <w:rsid w:val="63EB76BE"/>
    <w:rsid w:val="646E651E"/>
    <w:rsid w:val="64B91578"/>
    <w:rsid w:val="64E542CC"/>
    <w:rsid w:val="64EE06F3"/>
    <w:rsid w:val="655C6E88"/>
    <w:rsid w:val="656B2BFC"/>
    <w:rsid w:val="657130BF"/>
    <w:rsid w:val="65815627"/>
    <w:rsid w:val="661C3252"/>
    <w:rsid w:val="6677324B"/>
    <w:rsid w:val="668B65C0"/>
    <w:rsid w:val="66911854"/>
    <w:rsid w:val="66CE0D2E"/>
    <w:rsid w:val="689A15CB"/>
    <w:rsid w:val="69974DA1"/>
    <w:rsid w:val="6A652E68"/>
    <w:rsid w:val="6A6F65D3"/>
    <w:rsid w:val="6B6F018F"/>
    <w:rsid w:val="6CF843D2"/>
    <w:rsid w:val="6D280F79"/>
    <w:rsid w:val="6E082E26"/>
    <w:rsid w:val="6F715E6C"/>
    <w:rsid w:val="6FB90E41"/>
    <w:rsid w:val="704701BD"/>
    <w:rsid w:val="70734E40"/>
    <w:rsid w:val="70877D29"/>
    <w:rsid w:val="73757717"/>
    <w:rsid w:val="737D707B"/>
    <w:rsid w:val="73A14617"/>
    <w:rsid w:val="74426A4A"/>
    <w:rsid w:val="74CE23CA"/>
    <w:rsid w:val="75690305"/>
    <w:rsid w:val="75690ED6"/>
    <w:rsid w:val="75F53987"/>
    <w:rsid w:val="763E5AC7"/>
    <w:rsid w:val="77493F8A"/>
    <w:rsid w:val="78AC77FA"/>
    <w:rsid w:val="794655E4"/>
    <w:rsid w:val="79904FAD"/>
    <w:rsid w:val="7A025BFC"/>
    <w:rsid w:val="7A4D3724"/>
    <w:rsid w:val="7ABB04FC"/>
    <w:rsid w:val="7BFE64F3"/>
    <w:rsid w:val="7C8768B4"/>
    <w:rsid w:val="7C8B562F"/>
    <w:rsid w:val="7DC96951"/>
    <w:rsid w:val="7E303044"/>
    <w:rsid w:val="7E6F462A"/>
    <w:rsid w:val="7EA55E80"/>
    <w:rsid w:val="7F1429AC"/>
    <w:rsid w:val="7F17671C"/>
    <w:rsid w:val="7F7E59EA"/>
    <w:rsid w:val="7F812FBC"/>
  </w:rsids>
  <m:mathPr>
    <m:brkBin m:val="before"/>
    <m:brkBinSub m:val="--"/>
    <m:smallFrac m:val="0"/>
    <m:dispDef/>
    <m:lMargin m:val="0"/>
    <m:rMargin m:val="0"/>
    <m:defJc m:val="centerGroup"/>
    <m:wrapIndent m:val="1440"/>
    <m:intLim m:val="subSup"/>
    <m:naryLim m:val="undOvr"/>
  </m:mathPr>
  <w:themeFontLang w:val="en-US" w:eastAsia="zh-CN"/>
  <w:clrSchemeMapping w:bg1="light1" w:t1="dark1" w:bg2="light2" w:t2="dark2" w:accent1="accent1" w:accent2="accent2" w:accent3="accent3" w:accent4="accent4" w:accent5="accent5" w:accent6="accent6" w:hyperlink="hyperlink" w:followedHyperlink="followedHyperlink"/>
  <w:shapeDefaults>
    <o:shapedefaults fillcolor="#FFFFFF" fill="t" stroke="t">
      <v:fill on="t" focussize="0,0"/>
      <v:stroke color="#000000"/>
    </o:shapedefaults>
    <o:shapelayout v:ext="edit">
      <o:idmap v:ext="edit" data="1"/>
    </o:shapelayout>
  </w:shapeDefaults>
  <mc:AlternateContent>
    <mc:Choice Requires="wpsCustomData">
      <wpsCustomData:typoFeatureVersion val="1"/>
    </mc:Choice>
  </mc:AlternateContent>
</w:settings>
